h1{
  color: #ff4d4d;
}

/* selecting an class */
.aquatext {
  color: aqua;
}
/* selecting an id */
#purpletext {
  color: blueviolet;
}
#greentext {
  color: limegreen;
}

#yellowbackground{
  background-color: greenyellow;

}
